:root {
  --title-read: #fd5948;
  --collage-yellow: #fbffa7;
  --collage-green: #b6ffc0;
  --collage-lilac: #d5b3ff;
  --collage-blue: #b1c5ff;
  --button: #0000ff;

  --facebook-blue: #3477f2;
  --twitter-blue: #1da1f2;
  --youtube-red: #ff001d;
  --instagram-orange: #f77737;

  --spacer: 8.3vw;
  --bp-desk: 800px;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 16px;
  background-color: #ddd;
}

a {
  color: var(--button);
  text-decoration: none;
}

header {
  max-width: 1600px;
  background-color: white;
  margin: 0 auto;
}

header svg {
  height: 28px;
  width: 60px;
  margin: 20px 0 0 20px;
}

.menuMobile {
  font-weight: 600;
  font-size: 1rem;
}
.menu {
  display: none;
}

.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  cursor: pointer;
}

.menu ul li:hover {
  color: var(--title-read);
}

.menu ul li + li {
  margin-left: 12px;
}

@media screen and (min-width: 800px) {
  .menuMobile {
    display: none;
  }
  .menu {
    display: inline-block;
  }
}

svg + .menu {
  margin-left: 24px;
}

.divider {
  margin-top: 20px;
  height: 2px;
  width: 100%;
  background-color: #fefefe;
  border-bottom: 2px solid #ddd;
}

nav {
  padding: 20px;
  font-size: 0.75rem;
  display: flex;
  gap: 12px;
}
nav a {
  color: #333;
}
nav a:first-child {
  color: var(--title-read);
}

main {
  margin: 0 var(--spacer);
  max-width: 1600px;
  background-color: white;
}

@media screen and (min-width: 800px) {
  main {
    margin: 0 auto;
  }
}

main section + section {
  margin-top: var(--spacer);
}

.hero {
  position: relative;
  margin-bottom: var(--spacer);
}
.hero img {
  min-height: calc(100vh - 120px);
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .hero img {
    width: 1334px;
    margin: 0 auto;
  }
}

.title {
  color: var(--title-read);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
@media screen and (min-width: 800px) {
  .title {
    font-size: 7rem;
  }
}

p {
  font-size: 0.75rem;
  line-height: 1.9;
  margin-bottom: 1rem;
  color: black;
  font-weight: 500;
}
p strong {
  font-size: 0.9rem;
  line-height: 2;
  margin-top: 0.7rem;
}

p + p {
  margin-top: 0;
}

img + p {
  margin-top: var(--spacer);
}

.collage {
  position: relative;
  min-height: 218px;
}

@media screen and (min-width: 800px) {
  .collage {
    width: 1600px;
  }
}

.collage + * {
  margin-top: var(--spacer);
}

.collage-2 div {
  background-color: var(--collage-green);
  margin-left: -var(--spacer);
  padding: var(--spacer) 16vw var(--spacer) var(--spacer);
  width: 58vw;
}

.collage-2 img + img {
  margin-top: var(--spacer);
}

.collage-3 {
  background-color: var(--collage-lilac);
  margin: 0 var(--spacer);
}

.photo1 {
  position: absolute;
  width: 42vw;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.photo2 {
  position: absolute;
  right: 0;
  padding: 64px 32px 64px 64px;
  margin-right: -var(--spacer);
  height: 218px;
  background-color: var(--collage-yellow);
}

.photo5 {
  position: absolute;
  right: 0;
  width: 50%;
  top: 25%;
}

.photo6 {
  position: absolute;
  left: -var(--spacer);
  width: 50%;
  top: 50%;
  transform: translate(0, -50%);
}

.photo7 {
  position: absolute;
  right: -16.6vw;
  width: 60%;
  top: 50%;
  transform: translate(0, -50%);
}

.youtube {
  margin: 2rem 0;
  position: relative;
}
.youtube cite {
  font-size: 0.7rem;
  font-weight: 700;
  font-style: normal;
}
.youtube img::after {
  content: "hello";
  position: absolute;
  top: 50%;
  height: 50%;
  background-color: var(--button);
}

.jobs {
  padding: var(--spacer);
  background-color: var(--collage-blue);
}

.jobs a {
  font-weight: 700;
}

.jobs a::after {
  content: ">";
  margin-left: 8px;
}

footer {
  margin-top: var(--spacer);
  padding: var(--spacer);
  border-top: 2px solid #eee;
  font-size: 0.75rem;
}

footer h2 {
  font-size: 2rem;
}

form {
  height: 30px;
  display: flex;
}

form input {
  background-color: #efefef;
  border: none;
  border-radius: 0;
  padding: 0.75em 0.75em 0.4em 0.75em;
  margin: 0;
  flex-grow: 1;
}

form button {
  width: 80px;
  border-radius: 0;
  border: none;
  background-color: var(--button);
  color: white;
  font-weight: 600;
  height: 100%;
  margin: 0;
}

.newsLetter strong {
  display: block;
}

.links {
  display: flex;
  flex-flow: column nowrap;
  margin: calc(var(--spacer) * 1.5) 0;
}

.links a {
  color: #333;
}

.links a:after {
  content: ">";
  margin-left: 8px;
}

.links a + h3 {
  margin-top: var(--spacer);
}

.social {
  display: flex;
  gap: 8px;
}

.social a {
  height: 32px;
  width: 32px;
}

.social .facebook {
  background-color: var(--facebook-blue);
}

.social .twitter {
  background-color: var(--twitter-blue);
}

.social .youtubeSoc {
  background-color: var(--youtube-red);
}

.social .instagram {
  background-color: var(--instagram-orange);
}
